@charset 'utf-8';
@import "./bulma/sass/utilities/initial-variables";
@import "./bulma/sass/utilities/functions";

$family-primary: 'Maven Pro', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$primary: #27A190; //#e74c3c; #c5ebdf
$secondary: #d2b5e2; //#e7dabd #d2b5e2

$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;

$navbar-item-color: #666B73;
$navbar-item-hover-color: darken(#666B73, 20%);
$navbar-item-active-color: $primary;

$p-red: #e1b3b5;
$p-yellow: #ffe3bc;

$gradient-pink: #F62459;
$gradient-green: #00d1b2;

$gradient-primary: $primary;
$gradient-secondary: $secondary;


$gradient-primary: $p-red;
$gradient-secondary: $p-yellow;
@import './bulma/bulma.sass';

// active menu item
.navbar-item.is-active {
  font-weight: 500;
}

.navbar-item-language {
  color: #c3c3c3;
}

.is-active-language {
  color: $grey-dark;
  font-weight: 500;
}

::selection {
  background: $secondary; /* WebKit/Blink Browsers */
}

.button.is-rounded {
  //bulma class doesn't work
  border-radius: 9999px;
}

.home-header__container {
  position: relative;
  width: 100%;
  height: 400px;
  background-position: center top;
  @media (max-width: 450px) {
    height: 300px;
  }
}

.home-header__content {
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  background-color: rgba($primary, 0.8);
  padding: 2em;
  @media (max-width: 450px) {
    width: 80%;
  }

  .title {
    color: $white;
    @media (max-width: 450px) {
      font-size: 1.5em!important;
    }
  }
}

.home-header__carousel {}

.home-header__cta {
  margin-top: 2em;
}

.home-header__button {
  background-color: $primary;
  border-radius: 99999px;
}

.key-points__header {
  margin-bottom: 2em;
}

.key-points__svg-container {
  max-width: 10em;
  margin: 0 auto;
}

.key-points__svg {
  margin: 0 auto 1em;

  img {
    height: 100%;
  }
}

.key-points__title {
  text-align: center;
}

.showcase__container {
  position: relative;
}


@media (min-width: 450px) {
  .showcase-image-side {
    img {
      min-height: 285px;
    }
  }
}

.showcase__overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}

.showcase__overlay-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .4s;
  background: linear-gradient(to bottom right, rgba($secondary, 0.9) 0%, rgba($primary, 0.5) 100%);
}

.showcase__text {
  color: $white;
  text-align: center;
  width: 100%;
  transition: transform .1s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-bottom: -10px;
  transform-origin: 0 0;
  will-change: transform;
  padding: 1em;
}

.showcase__container:hover .showcase__overlay-gradient,
.showcase__container:hover .showcase__overlay-text {
  opacity: 1;
}

.showcase__container:hover .showcase__text {
  transform: translateY(-10px);
  transition: transform .25s cubic-bezier(0.175, 0.885, 0.32, 1.775);
}

.showcase__title {
  font-weight: 500;
}

.is-highlighted {
  position: relative;
}

.is-highlighted:after {
  content: "";
  height: 1em;
  width: 100%;
  background: $gradient-primary;
  //background: linear-gradient(to right, #86e2d5 0%,#b7e9e2 100%);
  //background: linear-gradient(to right, #00d1b2 0%, #f1b2c7 100%);
  // background: linear-gradient(to right, $gradient-primary 0%,mix($white, $gradient-primary, 80%) 100%);
  background: linear-gradient(to right, $gradient-primary 0%, $gradient-secondary 100% );
  z-index: -1;
  display: block;
  position: absolute;
  right: -0.4em;
  bottom: -0.2em;
}

.is-highlighted--green:after {
  background: linear-gradient(to right, $gradient-secondary 0%, mix($white, $gradient-primary, 80%) 100%);
}

.key-points__content {
  // text-align: justify;
  // font-weight: 300;
}

.contact-form__header {
  margin-bottom: 2em;
}

.footer {
  position: relative;
}

.scroll-top {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.animated {
  animation-duration: .2s;
}

.blinking-cursor {
  color: $white;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: $white;
  }
}
