@charset 'utf-8';

@import './bulma/bulma.sass';

.is-active {
  font-weight: 500;
}

.button.is-rounded {
  //maybe broken?
  border-radius: 9999px;
}

.navbar__cta {
  border-radius: 9999px;
}

.home-header__container {
  position: relative;
  width: 100%;
  height: 400px;
  background-position: center top;
  @media (max-width: 450px) {
    height: 300px;
  }
}
.home-header__content {
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  background-color: rgba(134, 226, 213, .8);
  padding: 2em;
  @media (max-width: 450px) {
    width: 80%;
  }
  .title {
    color: #fff;
    @media (max-width: 450px) {
      font-size: 1.5em!important;
    }
  }
}
.home-header__carousel {
}
.home-header__cta {
  margin-top: 2em;
}
.home-header__button {
  background-color: #00bcd4;
  border-radius: 99999px;
}
.key-points__header {
  margin-bottom: 2em;
}
.key-points__svg-container {
  max-width: 10em;
  margin: 0 auto;
}
.key-points__svg {
  margin: 0 auto;
  margin-bottom: 1em;
  img {
    height: 100%;
  }
}
.key-points__title {
  text-align: center;
}

.test-container {
  position: relative;
}

.test-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #008CBA;

  display: flex;
  align-items: center;
}

.test-text {
  color: #fff;
  text-align: center;
  width: 100%;
}

.test-container:hover .test-overlay {
  opacity: 0.8;
}

.is-highlighted {
  position: relative;
}
.is-highlighted:after {
  content: "";
  height: 1em;
  width: 100%;
  background: #F62459;
  //background: linear-gradient(to right, #86e2d5 0%,#b7e9e2 100%);
  //background: linear-gradient(to right, #00d1b2 0%, #f1b2c7 100%);
  background: linear-gradient(to right, #F62459 0%,#ecb6c4 100%);
  z-index: -1;
  display: block;
  position: absolute;
  right: -0.4em;
  bottom: -0.2em;
}
.is-highlighted--green:after {
  background: linear-gradient(to right, #00d1b2 0%, #f1b2c7 100%);
}

.key-points__content {
  text-align: justify;
}

.contact-form__header {
  margin-bottom: 2em;
}

.footer {
  position: relative;
}
.scroll-top {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.animated {
  animation-duration: 0.2s;
}

.blinking-cursor {
  color: #fff;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}
