---
layout: default
title: Start
permalink: /
lang: de
order: 1

key-title-1: 'Alles aus einer Hand'
key-text-1: 'Vom Konzept, zum Design zur fertigen Seite. Begleitet werden Sie bei jedem Schritt.'
key-title-2: 'Lokal zu Global'
key-text-2: 'Sind sie bereit den nächsten Schritt zu gehen? Heben Sie sich ab!'
key-title-3: 'Gefunden werden'
key-text-3: 'Mit einem fundiert und langfristig aufgestellten Internetauftritt werden Sie gefunden. Für lokale Geschäfte essenziell – und für internationale umso mehr.'
key-text-3s: 'Beratung zu SEO'

---

<div class="section">
  <div class="container">
      <div class="home-header__container" style="background-image: url('https://picsum.photos/1344/400?image=366');">
        <div class="home-header__content" id="app">
          <div class="home-header__carousel">
            <span class="title is-size-2">Zeigen Sie der Welt <wordcarousel :word-list="['Ihre Firma', 'Ihr Hobby', 'Ihr Team', 'Ihre Produkte', 'Ihre Agentur', 'Ihr Restaurant', 'Ihre Begeisterung']"></wordcarousel><span class="blinking-cursor">|</span></span>
          </div>
          <!-- <div class="home-header__cta">
            <a href="#" class="button is-medium is-primary is-rounded home-header__button js-cta-button" id="js-cta-button">Gespräch vereinbaren!</a>
          </div> -->
        </div>
      </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <section class="column is-3">
        <header class="key-points__header">
          <div class="key-points__svg-container">
            <div class="image is-square key-points__svg"><img src="{{ "/images/1.svg" | relative_url }}" alt="" class=""></div>
          </div>
          <h1 class="title is-size-4 key-points__title"><span class="is-highlighted">{{ page.key-title-1 }}</span></h1>
        </header>
        <div class="key-points__content is-size-5">
          <p>
            {{ page.key-text-1 }}
          </p>
        </div>
      </section>
      <section class="column is-3">
        <header class="key-points__header">
          <div class="key-points__svg-container">
            <div class="image is-square key-points__svg"><img src="{{ "/images/2.svg" | relative_url }}" alt="" class=""></div>
          </div>
          <h1 class="title is-size-4 key-points__title"><span class="is-highlighted">{{ page.key-title-2 }}</span></h1>
        </header>
        <div class="key-points__content is-size-5">
          <p>
            {{ page.key-text-2 }}
          </p>
        </div>
      </section>
      <section class="column is-3">
        <header class="key-points__header">
          <div class="key-points__svg-container">
            <div class="image is-square key-points__svg"><img src="{{ "/images/3.svg" | relative_url }}" alt="" class=""></div>
          </div>
          <h1 class="title is-size-4 key-points__title "><span class="is-highlighted">{{ page.key-title-3 }}</span></h1>
        </header>
        <div class="key-points__content is-size-5">
          <p>
            {{ page.key-text-3 }}
          </p>
        </div>
      </section>
      <div class="column"></div>
    </div>
  </div>
</div>

{% include showcase.html %}

{% include contact-form.html %}
