---
layout: default
title: Home
permalink: /
lang: jp
order: 1

key-title-1: '全部まとめて'
key-text-1: 'Vom Konzept, zum Design zur fertigen Seite. Begleitet werden Sie bei jedem Schritt.'
key-title-2: 'グローバルに'
key-text-2: 'Sind sie bereit den nächsten Schritt zu gehen? Heben Sie sich ab!'
key-title-3: 'ググるしよう！'
key-text-3: 'Mit einem fundiert und langfristig aufgestellten Internetauftritt werden Sie gefunden.'

key-title-4: '安心できる'
key-text-4: 'Beratung und Umsetzung von Sicherheitsmaßnamen und SSL. Gehen Sie mit der Zeit und Googles Richtlinien.'
key-title-5: 'モバイルアプリ'
key-text-5: 'Native Applikationen und moderne SPA zur erschließung neuer Märkte.'
key-title-6: 'モバイルファースト'
key-text-6: 'Im Web vertreten auf allen Geräten. Seien Sie Mobile-Ready mit Ihrem Webauftritt im Zeitalter des mobilen Netz – auch im Bereich eCommerce.'

---

<div class="section">
  <div class="container">
      <div class="home-header__container" style="background-image: url('https://picsum.photos/1344/400?image=366');">
        <div class="home-header__content" id="app">
          <div class="home-header__carousel">
            <span class="title is-size-2">世界に見せよう、<wordcarousel :word-list="['ビジネス', '趣味', 'チーム', '夢', 'レストラン', 'アート', 'パッション']"></wordcarousel><span class="blinking-cursor">|</span></span>
          </div>
          <!-- <div class="home-header__cta">
            <a href="#" class="button is-medium is-primary is-rounded home-header__button js-cta-button" id="js-cta-button">Gespräch vereinbaren!</a>
          </div> -->
        </div>
      </div>
  </div>
</div>

{% include components/key-points.html %}

{% include components/showcase.html %}

{% include components/contact-form.html %}
