
<header class="section">

  <div class="container">

    <nav class="site-nav">
      <div class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item has-text-weight-semibold" href="/{{ site.baseurl }}">{{ site.title }}</a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            {% for cpage in site.pages %}
              {% if cpage.title %}
              <a class="navbar-item {% if page.url == cpage.url %}is-active{% endif %}" href="{{ cpage.url | relative_url }}">{{ cpage.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
          <div class="navbar-end">
            {% for tongue in site.languages %}
              <a {% if tongue == site.active_lang %}style="font-weight: 500;"{% endif %} class="navbar-item" href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{ tongue }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>

  </div>

</header>
