<header class="section js-header header-section">

  <div class="container">

    <nav class="site-nav is-unselectable">
      <div class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="/{{ site.baseurl }}">maximilian<span style="font-weight:500;">henrich</span></a>
          <div class="navbar-burger" data-target="js-navbar-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu" id="js-navbar-menu">
          <div class="navbar-start">
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for node in sorted_pages %}
              {% if node.title %}
                <a class="navbar-item {% if page.url == node.url %}is-active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
          <div class="navbar-end">
            {% if page.url == "/" %}
              <div class="navbar-item">
                <a href="#" class="button is-primary navbar__cta" id="js-cta-button">{{ site.cta_text[site.active_lang] }}</a>
              </div>
            {% else %}
              <div class="navbar-item">
                <a href="/#js-contact-form" class="button is-primary navbar__cta" id="js-cta-button">{{ site.cta_text[site.active_lang] }}</a>
              </div>
            {% endif %}
            {% for tongue in site.languages %}
              <a class="navbar-item navbar-item-language {% if tongue == site.active_lang %}is-active-language{% endif %}" href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{ tongue }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>

  </div>

</header>
