<header class="section js-header">

  <div class="container">

    <nav class="site-nav">
      <div class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="/{{ site.baseurl }}">{{ site.title }}</a>
        </div>
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for node in sorted_pages %}
              {% if node.title %}
                <a class="navbar-item {% if page.url == node.url %}is-active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="#" class="button is-primary navbar__cta is-outlined" id="js-cta-button">Gespräch vereinbaren!</a>
            </div>
            {% for tongue in site.languages %}
              <a class="navbar-item navbar-item-language {% if tongue == site.active_lang %}is-active-language{% endif %}" href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{ tongue }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>

  </div>

</header>
