<section class="contact-form section" id="js-contact-form">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">

        <header class="has-text-centered contact-form__header">
          <h1 class="title"><span class="is-highlighted">Jetzt anfragen!</span></h1>
        </header>

        <form method="POST" action="http://formspree.io/henrich.maximilian@gmail.com">
          <div class="field">
            <div class="control">
              <input class="input" type="email" name="email" placeholder="Deine E-Mail-Adresse">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea class="textarea" name="message" placeholder="Deine Nachricht"></textarea>
            </div>
          </div>

          <input class="input" type="hidden" name="_subject" value="New submission!" />
          <input class="input" type="hidden" name="_next" value="https://www.maximilianhenrich.de/" />
          <input type="hidden" name="_language" value="de" />

          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit">Senden</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
