<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <section class="column is-3 key-points__column">
        <header class="key-points__header">
          <div class="key-points__svg-container">
            <div class="image is-square key-points__svg is-unselectable"><img src="{{ "/images/6.svg" | relative_url }}" alt="" class=""></div>
          </div>
          <h1 class="title is-size-5 key-points__title"><span class="is-highlighted">{{ page.key-title-1 }}</span></h1>
        </header>
        <div class="key-points__content">
          <p>
            {{ page.key-text-1 }}
          </p>
        </div>
      </section>
      <section class="column is-3 key-points__column">
        <header class="key-points__header">
          <div class="key-points__svg-container">
            <div class="image is-square key-points__svg is-unselectable"><img src="{{ "/images/2.svg" | relative_url }}" alt="" class=""></div>
          </div>
          <h1 class="title is-size-5 key-points__title"><span class="is-highlighted">{{ page.key-title-2 }}</span></h1>
        </header>
        <div class="key-points__content">
          <p>
            {{ page.key-text-2 }}
          </p>
        </div>
      </section>
      <section class="column is-3 key-points__column">
        <header class="key-points__header">
          <div class="key-points__svg-container">
            <div class="image is-square key-points__svg is-unselectable"><img src="{{ "/images/3.svg" | relative_url }}" alt="" class=""></div>
          </div>
          <h1 class="title is-size-5 key-points__title "><span class="is-highlighted">{{ page.key-title-3 }}</span></h1>
        </header>
        <div class="key-points__content">
          <p>
            {{ page.key-text-3 }}
          </p>
        </div>
      </section>
      <div class="column"></div>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <section class="column is-3 key-points__column">
        <header class="key-points__header">
          <div class="key-points__svg-container">
            <div class="image is-square key-points__svg is-unselectable"><img src="{{ "/images/4.svg" | relative_url }}" alt="" class=""></div>
          </div>
          <h1 class="title is-size-5 key-points__title"><span class="is-highlighted">{{ page.key-title-4 }}</span></h1>
        </header>
        <div class="key-points__content">
          <p>
            {{ page.key-text-4 }}
          </p>
        </div>
      </section>
      <section class="column is-3 key-points__column">
        <header class="key-points__header">
          <div class="key-points__svg-container">
            <div class="image is-square key-points__svg is-unselectable"><img src="{{ "/images/5.svg" | relative_url }}" alt="" class=""></div>
          </div>
          <h1 class="title is-size-5 key-points__title"><span class="is-highlighted">{{ page.key-title-5 }}</span></h1>
        </header>
        <div class="key-points__content">
          <p>
            {{ page.key-text-5 }}
          </p>
        </div>
      </section>
      <section class="column is-3 key-points__column">
        <header class="key-points__header">
          <div class="key-points__svg-container">
            <div class="image is-square key-points__svg is-unselectable"><img src="{{ "/images/7.svg" | relative_url }}" alt="" class=""></div>
          </div>
          <h1 class="title is-size-5 key-points__title "><span class="is-highlighted">{{ page.key-title-6 }}</span></h1>
        </header>
        <div class="key-points__content">
          <p>
            {{ page.key-text-6 }}
          </p>
        </div>
      </section>
      <div class="column"></div>
    </div>
  </div>
</div>
