<section class="section" style="position: relative">
  <div class="container">
    <div class="columns">
      <div class="column is-5 is-offset-2 is-paddingless">
        <a href="{{ site.posts[0].url | relative_url }}" class="">
          <div class="showcase__container">
            <div class="image is-square"><img src="{{ site.baseurl }}/images/{{ site.posts[0].featured_image }}"></div>
            <div class="showcase__overlay-gradient"></div>
            <div class="showcase__overlay-text">
              <div class="showcase__text">
                <p class="is-size-3 showcase__title">{{ site.posts[0].title }}</p>
                {{ site.posts[0].desc }}
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-3 is-paddingless">
        <a href="{{ site.posts[1].url | relative_url }}" class="">
          <div class="showcase__container">
            <div class="image showcase-image-side"><img src="{{ site.baseurl }}/images/{{ site.posts[1].featured_image }}" alt=""></div>
            <div class="showcase__overlay-gradient"></div>
            <div class="showcase__overlay-text">
              <div class="showcase__text">
                <p class="is-size-3 showcase__title">{{ site.posts[1].title }}</p>
                {{ site.posts[1].desc }}
              </div>
            </div>
          </div>
        </a>
        <a href="{{ site.posts[2].url | relative_url }}" class="">
          <div class="showcase__container">
            <div class="image showcase-image-side"><img src="{{ site.baseurl }}/images/{{ site.posts[2].featured_image }}" alt=""></div>
            <div class="showcase__overlay-gradient"></div>
            <div class="showcase__overlay-text">
              <div class="showcase__text">
                <p class="is-size-3 showcase__title">{{ site.posts[2].title }}</p>
                {{ site.posts[2].desc }}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8 is-offset-2 is-paddingless">
        <a href="{{ site.posts[3].url | relative_url }}" class="">
          <div class="showcase__container">
            <div class="image is-2by1"><img src="{{ site.baseurl }}/images/{{ site.posts[3].featured_image }}" alt=""></div>
            <div class="showcase__overlay-gradient"></div>
            <div class="showcase__overlay-text">
              <div class="showcase__text">
                <p class="is-size-3 showcase__title">{{ site.posts[3].title }}</p>
                {{ site.posts[3].desc }}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="has-text-centered">
      <a href="#" class="button is-rounded">
        Mehr ansehen
      </a>
    </div>

  </div>
</section>
