<section class="section" style="position: relative">
  <!-- <aside style="position:absolute; left: 0; top: 5em; width: 20%; padding: 2em; background-color: pink;">
    <span class="title" style="color: #fff;">Projekte</span>
  </aside> -->
  <div class="container">
    <div class="columns">
      <div class="column is-5 is-offset-2 is-paddingless">
        <a href="{{ site.posts[0].url | relative_url }}" class="">
          <div class="test-container">
            <div class="image is-square"><img src="{{ site.baseurl }}/images/{{ site.posts[0].featured_image }}"></div>
            <div class="gradient-overlay"></div>
            <div class="text-overlay">
              <div class="test-text">
                <p class="is-size-3">{{ site.posts[0].title }}</p>
                {{ site.posts[0].desc }}
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-3 is-paddingless">
        <a href="{{ site.posts[1].url | relative_url }}" class="">
          <div class="test-container">
            <div class="image showcase-image-side"><img src="{{ site.baseurl }}/images/{{ site.posts[1].featured_image }}" alt=""></div>
            <div class="gradient-overlay"></div>
            <div class="text-overlay">
              <div class="test-text">
                <p class="is-size-3">{{ site.posts[1].title }}</p>
                {{ site.posts[1].desc }}
              </div>
            </div>
          </div>
        </a>
        <a href="{{ site.posts[2].url | relative_url }}" class="">
          <div class="test-container">
            <div class="image showcase-image-side"><img src="{{ site.baseurl }}/images/{{ site.posts[2].featured_image }}" alt=""></div>
            <div class="gradient-overlay"></div>
            <div class="text-overlay">
              <div class="test-text">
                <p class="is-size-3">{{ site.posts[2].title }}</p>
                {{ site.posts[2].desc }}
              </div>
            </div>
          </div>
        </a>
        <!-- <div class="image"><img src="https://picsum.photos/342/285" alt=""></div>
        <div class="image"><img src="https://picsum.photos/342/285?random" alt=""></div> -->
      </div>
    </div>
    <div class="columns">
      <div class="column is-8 is-offset-2 is-paddingless">
        <a href="{{ site.posts[3].url | relative_url }}" class="">
          <div class="test-container">
            <div class="image is-2by1"><img src="{{ site.baseurl }}/images/{{ site.posts[3].featured_image }}" alt=""></div>
            <div class="gradient-overlay"></div>
            <div class="text-overlay">
              <div class="test-text">
                <p class="is-size-3">{{ site.posts[3].title }}</p>
                {{ site.posts[3].desc }}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="has-text-centered">
      <a href="#" class="button is-rounded">
        Mehr ansehen
      </a>
    </div>
  </div>
</section>
