.key-points__header {
  margin-bottom: 2em;
}

.key-points__svg-container {
  max-width: 10em;
  margin: 0 auto;
}

.key-points__svg {
  margin: 0 auto 1em;

  img {
    height: 100%;
  }
}

.key-points__title {
  text-align: center;
}
