---
layout: default
---

<div class="section">
  <div class="container">

    <header class="large-header__container">
      <h1 class="title large-header__title">{{ page.title | downcase }}</h1>
    </header>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        {{ content }}
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 is-offset-4">
        <p class="title is-size-5">der Titel</p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere laudantium cumque eius, animi quaerat quod, quas dolor sapiente autem quia debitis repellendus voluptas qui eaque iste facilis molestiae eum alias!
      </div>
      <div class="column is-3">
        <p class="title is-size-5">der Titel</p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere laudantium cumque eius, animi quaerat quod, quas dolor sapiente autem quia debitis repellendus voluptas qui eaque iste facilis molestiae eum alias!
      </div>
    </div>
  </div>
</div>
